@{
    ViewBag.Title = "Product Catlog";
}

<div class="row ">
    <h3 class="text-center red">Product Catlog Task</h3>

    <div class="col-sm-7">



        <h3 class="red">Models</h3>
        <p> 1 - Only One Product Model.</p>
        <h3 class="red">Controllers</h3>
        <p> 1 - Home controller </p>
        <p>  - Index Action  </p>
        <p> 2 - Product controller </p>
        <p>  - Index Action -- display the whole view of product mangment  </p>
        <p>  - _ListAllProducts Action -- return Partial view for all products With Search  </p>
        <p>  - DeleteProduct Action -- Delete a product With Ajax Request   </p>
        <p>  - _CreateOrUpdate Action -- Manage Create and Update return partial view  </p>

        <h3 class="red">View Models</h3>
        <p> 1 - Product ViewModel : has attributes of product model and some methods </p>
        <p>  - <span class="blue">GetImage(string path)</span> // Get image from ProductsImages server folder with it's extentions </p>
        <p>  - <span class="blue">SaveImageToserver(HttpPostedFileBase file,string path)</span> // Save Image to the sever with id of product and same extention that was uploaded  </p>




    </div>
    <div class="col-sm-5">

        @*<h3 class="text-center">Page mangement View</h3>
        <p class="text-center mod">Search</p>
        <div class="col-sm-6 text-center mod2">_ListAllProducts Partial view</div>
        <div class="col-sm-6 text-center mod3">_CreateOrUpdate Partial view</div>*@
        <img src="~/digram.png" width="550" />
    </div>
</div>


